/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333333;
  }
  

  /* Login form */
  .form-group {
    align-content: right;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  /* Login button*/
  .btn {
    font-size: 10px;
    border: none;
    outline: #a7a5a5;
    color: #ffffff;
    background-color: #a7a5a5;
    font-family: inherit;
  }
  
  .btn:hover {
      background-color: #525050;
  }

  .login {
    position: relative;
    top: 5px;
    right: -35%;
    font-size: 25%;
    display: inline-block;
}

/* main page layout */
.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content side"
    "content1 content content2"
    "footer footer footer";

  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
}

.chapter-outline {
  grid-area: nav;
  margin-left: 0.5rem;
}

.main-writing {
  grid-area: content;
}

.image-dropping {
  grid-area: side;
  
}

.key-point {
  grid-area: content1; 
}

.wikipedia {
  grid-area: content2;
  float: right;
}

footer {
  grid-area: footer;
}

/* body column css*/
.col-xs-6,
.col-md-4 {
    margin: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
    border: 0;
    padding: 5px;
}

h3 {
    text-align: center;
    padding-top: 2%;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/* chapter outline css*/
.chapter-outline {
    background: url("../images/notepad-image.jpg");
    background-size: cover;
    min-height: 300px;
}

/* main writing css*/
.main-writing {
    background: url("../images/white-lined-paper.jpg");
    background-size: cover;
    min-height: 500px;
}

/* image dropping css*/
.image-dropping {

    background-color: #030303;
    min-height: 300px;
    overflow:scroll;
}

/* key-point css*/
.key-point {
  background-color: #777474;
  min-height: 300px;
}

/* wikipedia css*/
.wikipedia {
  background-color: #777474;
  min-height: 300px;
}

/* footer container css*/
footer {
  text-align: center;
  padding: 20px;
  background-color: #4e4e4e;
  min-height: 100px;
  width: 100%;
  bottom: 0px;
}

/* Will's Stuff */
.topics-pane{
  height: 200px;
  background-color: #333333;
}
.topic-circle{
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin: 5px; 
  float: left;
  border: 2px black solid;
}
.topic-text{
  color: grey;
  mix-blend-mode: screen;
}
#content-box{
  width: 100%;
  height: 100%;
}
.flex-contain{
  display: flex;
}
.autosave-datetime{
  float: right;
}